.game-div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
    overflow: hidden;
}

body,
html {
    overflow: auto !important;
    background-color: #049cd8;
}

#screen {
    width: 100vw;
    height: 100vh;
    max-width: 1600px;
    max-height: 1200px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}