/* CSS Reset */


/* Set to make rem values more clear (1.6rem = 16px) */
/* html {
font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 2.4rem;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

#root, #__next {
  height: 100%;
  isolation: isolate;
} */

body {
  background: #050505;
  color: #ffffff;
  font-family: Geneva, Verdana, sans-serif;
  text-align: center;
}

.container {
  grid-template-rows: auto 1fr auto;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 3em;
  background: linear-gradient(0deg, #000000 0%, #0e0e0e 5%, #757575 25%, #c5c5c5 35%, #ffffff 50%, #c5c5c5 65%, #757575 75%, #0e0e0e 95%, #000000 0%);
  color: black;
  align-content: center;
  border-top: 0.025rem solid #ffffff;
  border-bottom: 0.025rem solid #ffffff;
  z-index: 1100;
}

main {
  margin-top: 5.2rem;
}

h1, h2 {
  margin: 2rem auto;
}

p {
  margin: 1rem;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes color-change {
  0% {
    color: #ffffff;
  }
    25% {
    color: #69afaf;
  }
  50% {
    color: #0f7db9;
  }
    75% {
    color: #0a91a5;
  }
  100% {
    color: #0fd7cd;
  }
}


.swal2-modal {
  background: linear-gradient(to bottom, #c5a5a5c5, #f5f5f5);
}


button {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: #050505;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background: linear-gradient(to bottom, #c5a5a5, #f5f5f5);
  border-radius: 0.5rem;
  margin: 0 0.25rem;
}

.btn-confirm:hover {
  cursor: pointer;
  background-color: #f7eeee;
  box-shadow: 0 0 0 0.125rem #cccee5 inset; /* Inset shadow for effect */
}

.btn-confirm::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0.125rem solid #00000046;
  border-radius: 0.5rem;
  transform-origin: center;
  transform: scale(1);
}

.btn-confirm:hover::before {
  transition: all 0.75s ease-in-out;
  transform-origin: center;
  transform: scale(1.75);
  background-color: #36e29b;
  opacity: 0;
}

.btn-confirm {
  background: linear-gradient(to bottom, #b1cff155, #4762c5);
  color: #ffffff; /* Text color */
  border: none;
  border-radius: 0.3em;
  padding: 10px 24px;
  margin-bottom: 1.1rem;
  font-size: 1em;
}

.btn-confirm:hover {
  background: #2177b5; /* Darker shade for hover effect */
}

.btn-cancel {
  background: #a5a5a5; /* Less emphasis for the cancel button */
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 0.3em;
  padding: 10px 24px;
  margin-bottom: 1rem;
  font-size: 1em;
}

.btn-cancel:hover {
  background-color: #454545; /* Darker shade for hover effect */
}

.badge-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 200px; /* Set a fixed width for the star */
  height: 200px; /* Set a fixed height for the star */
  display: flex; /* Use flexbox to align content */
  align-items: flex-start; /* Align content to the top */
  justify-content: center; /* Center content horizontally */
  background: #ffd705;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  animation: fadeInOut 5s linear forwards;
}

.badge {
  color: #050505;
  font-size: 0.65rem; /* Adjust the font size as needed */
  word-wrap: wrap;
  font-weight: bold;
  margin-top: 4.2rem; /* Adjust margin-top to move text up */
  text-align: center;
  animation: blink 0.2s step-end 15; /* Rapidly blink 15 times and then stop */
}
@keyframes blink {
  0%, 100% { color: #050505; } /* Start and end with black text */
  50% { color: #fff; } /* Blink to white text in the middle */
}

.badge-container .badge span {
  display: block; /* Makes each span start on a new line */
  text-align: center;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  10%, 90% { opacity: 1; }
  100% { opacity: 0; }
}

.input-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
  background: linear-gradient(#000000 0%, #818181e4 100%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px #00000040;
  text-align: center;
}

.input-container label {
  display: block;
  margin-bottom: 10px;
}

.input-container input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 0.125rem solid #c5bcb5;
  width: calc(100% - 24px); /* minus padding and border */
}

.input-container > button {
  margin-top: 1rem;
    border: 0.125rem solid transparent;
    background: #050505;
    color: #fffaf5;
}

.input-container > button:hover {
  border: 0.125rem solid #ffffff;
  box-shadow: 0 0 0 0.125rem #cccee5 inset; /* Inset shadow for effect */
}

.strikeout {
  position: relative;
  color: #ff0000;
}

.strikeout::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(5, 5, 5, 0.555);
}

.strikeout::after {
  content: 'X';
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(255, 255, 255, 0.555);
}

.text-container {
  margin-top: 2rem;
}

#hidden-text-container {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  text-align: center;
}

#hidden-text {
  display: inline-block;
  font-size: 1.2rem;
}

.feedback-message {
  position: fixed;
  width: 100%;
  top: 0;
  animation: 1s color-change infinite;
  text-align: center;
}

footer {
  bottom: 0;
  left: 0;
  position: fixed;
  line-height: 3em;
  width: 100%;
  background: linear-gradient(0deg, #000000 0%, #0e0e0e 5%, #757575 25%, #c5c5c5 35%, #ffffff 50%, #c5c5c5 65%, #757575 75%, #0e0e0e 95%, #000000 0%);
  color: black;
  align-content: center;
  border-top: 0.025rem solid #ffffff;
  border-bottom: 0.025rem solid #ffffff;
  z-index: 1100;
}