.scene {
    width: 100vw;
    height: 100vh;
    background-color: #049cd8;
  }
  
  #screen {
    display: block;
    image-rendering: pixelated;
    height: 100vh;
    margin: auto;
}
  
  h1 {
    font-family: "Press Start 2P", cursive;
    text-align: center;
    width: 100%;
    font-size: 30px;
    position: fixed;
    top: 300px;
  }

  title {
    display: flex;
    position: absolute;
    width: 50%;
    margin: 0 auto;
    bottom: 52%;
    left: 26%;
}
  
  .nav {
    position: absolute; 
    top: 50px;
    right: 50px; 
    z-index: 1000; 
    border-radius: 5px; 
    padding: 10px;
    display:flex;
    list-style-type: none;
    gap:20px;

    
}

.nav-image {
height: 90x;
width: 200px;
}

.nav-link {
    font-weight: bold;
    padding: 10px;
    font-style:inherit;
}

.nav-link:hover {
    text-decoration: none;
}

#start {
  position: absolute; 
  top: 65%; 
  left: 60%; 
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#start2 {
  position: absolute; 
  top: 65%; 
  left: 40%; 
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#start2 img {
  height: 75px;
  width: 200px;
}

#start img {
  height: 75px;
  width: 200px;
}


  .mario {
    background-image: url("http://vignette3.wikia.nocookie.net/fantendo/images/0/05/Mystery_Mushroom_Mario.png/revision/latest?cb=20150913142904");
    background-size: 50px;
    width: 50px;
    height: 66px;
    position: fixed;
    bottom: 100px;
    transition: all 1s ease;
    animation: animateMario 3s linear forwards infinite;
  }
  
  @keyframes animateMario {
    0% {
      margin-left: -50px;
    }
    60% {
      transform: translateY(0px);
    }
    70% {
      transform: translateY(-90px);
    }
    90% {
      transform: translateY(0px);
    }
    100% {
      margin-left: 100vw;
    }
  }
  
  .cloud {
    background-image: url("https://i.pinimg.com/originals/8a/49/4b/8a494b1e5e26314180a1ded2c8d0a6a5.png");
    background-size: contain;
    width: 100px;
    height: 80px;
    margin: 20px;
    position: fixed;
  }
  
  .box {
    background-image: url("https://media.giphy.com/media/GPtziRMoxcwuc/giphy.gif");
    background-size: cover;
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 250px;
    left: 70vw;
    z-index: 1;
    animation: animateBox 3s ease forwards infinite;
    animation-delay: 2.1s;
  }
  
  @keyframes animateBox {
    0% {
      bottom: 250px;
    }
    50% {
      bottom: 260px;
    }
    100% {
      transform: scale(0);
    }
  }
  
  .coin {
    background-image: url("http://piq.codeus.net/static/media/userpics/piq_132831_400x400.png");
    background-size: cover;
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 250px;
    left: 70vw;
    animation: animateCoin 3s ease forwards infinite;
    animation-delay: 2.4s;
  }
  
  @keyframes animateCoin {
    0% {
      bottom: 250px;
    }
    50% {
      bottom: 350px;
    }
    100% {
      bottom: 250px;
      transform: scale(0);
    }
  }
  
  .floor {
    background-image: url("https://t3.rbxcdn.com/1977bb7bbfc6b959cf6556daf6381793");
    background-size: 50px;
    position: fixed;
    width: 100vw;
    height: 100px;
    bottom: 0;
  }
  
  @keyframes animateCloud {
    0% {
      margin-left: -1000px;
    }
    100% {
      margin-left: 100%;
    }
  }
  
  .cloud1 {
    animation: animateCloud 35s linear infinite;
    transform: scale(0.75);
  }
  
  .cloud2 {
    animation: animateCloud 20s linear infinite;
    transform: scale(1);
  }
  
  .cloud3 {
    animation: animateCloud 30s linear infinite;
    transform: scale(1.25);
  }
  
  .cloud4 {
    animation: animateCloud 18s linear infinite;
    transform: scale(1.5);
  }
  /*Footer*/

  .flip-card {
    background-color: transparent;
    width: 100px;
    height: 100px;
    perspective: 1000px;
    display:flex;
    gap:100px;
    padding-left: 550px;
    
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    
    
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }

  .fa-brands, .fab {
    font-weight: 400;
    position: absolute;
    left: 25%;
    bottom: 272px;
    display: flex;
    color:#049cd8;
}
